
   <div class="bg-dark">
   <% if user_signed_in? %>

   <h1 class="display-5 fw-bold">Welcome back!</h1>

       <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div id="main-container" class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Web Management</h1>
        <p class="col-md-8 fs-4">Simplify your online life. We handle everything—updates, security, and performance. Focus on your business while we keep your website seamless and secure. Lets build something amazing !</p>
        <hr class="my-4">
        <%# <%= link_to 'Start Building', contacts_new_path, class: "btn btn-primary"%>
      </div>
    </div>
   <% else %>
                <div class="jumbotron">
                      <h1 class="display-4">Web Management</h1>
                      <p class="lead">Simplify your online life. We handle everything—updates, security, and performance. Focus on your business while we keep your website seamless and secure. Lets build something amazing !</p>
                      <hr class="my-4">
                      <p>Register to submit your project.</p>
                      <%= link_to "Register", new_user_registration_path, class: "btn btn-primary btn-lg"%>
                </div>
<% end %>
    <div class="row align-items-md-stretch pt-5">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Learn About Our Process</h2>
          <p>Certainly! Web development involves creating websites or web applications that cater to various user needs. Here's an in-depth breakdown of our web development process:</p>
          <button class="btn btn-outline-light" type="button">Learn more</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Got a project?</h2>
          <p>Empower your startup dreams with our donation-based web development service. We specialize in crafting dynamic websites for budding businesses. Your contribution fuels innovation and growth. Join us in building success!</p>
          <button class="btn btn-outline-secondary" type="button">Submit your project</button>
        </div>
      </div>
    </div>

   </div>
  
